<% content_for(:title) { "My super sweet dashboard" } %>
<div class="gridster">
  <ul>
	<li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="avgcpu" data-view="Number" data-title="Avg CPU utilization" data-prefix=""></div>
    </li>
	</li>
<li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="diskread" data-view="Number" data-title= "bytes read on disk" data-prefix=""></div>
    </li>
	</li>
<li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="diskwrite" data-view="Number" data-title="bytes written to disk" data-prefix=""></div>
    </li>
<li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="netinc" data-view="Number" data-title="number of incoming bytes on the network" data-prefix=""></div>
    </li>
	<li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="netout" data-view="Number" data-title="number of outgoing bytes on the network" data-prefix=""></div>
    </li>
  </ul>
</div>
